@font-face {
  font-family: 'CabinRegularTTF';
  src: url('../fonts/CabinRegularTTF.eot');
  src: url('../fonts/CabinRegularTTF.eot') format('embedded-opentype'),
  url('../fonts/CabinRegularTTF.woff2') format('woff2'),
  url('../fonts/CabinRegularTTF.woff') format('woff'),
  url('../fonts/CabinRegularTTF.ttf') format('truetype'),
  url('../fonts/CabinRegularTTF.svg#CabinRegularTTF') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'CabinBoldTTF';
  src: url('../fonts/CabinBoldTTF.eot');
  src: url('../fonts/CabinBoldTTF.eot') format('embedded-opentype'),
  url('../fonts/CabinBoldTTF.woff2') format('woff2'),
  url('../fonts/CabinBoldTTF.woff') format('woff'),
  url('../fonts/CabinBoldTTF.ttf') format('truetype'),
  url('../fonts/CabinBoldTTF.svg#CabinBoldTTF') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
    font-family: 'CabinMediumTTF';
    src: url('../fonts/CabinMediumTTF.eot');
    src: url('../fonts/CabinMediumTTF.eot') format('embedded-opentype'),
         url('../fonts/CabinMediumTTF.woff2') format('woff2'),
         url('../fonts/CabinMediumTTF.woff') format('woff'),
         url('../fonts/CabinMediumTTF.ttf') format('truetype'),
         url('../fonts/CabinMediumTTF.svg#CabinMediumTTF') format('svg');
  font-weight: normal;
  font-style: normal;         
}


@font-face {
    font-family: 'BebasNeue';
    src: url('../fonts/BebasNeue.eot');
    src: url('../fonts/BebasNeue.eot') format('embedded-opentype'),
         url('../fonts/BebasNeue.woff2') format('woff2'),
         url('../fonts/BebasNeue.woff') format('woff'),
         url('../fonts/BebasNeue.ttf') format('truetype'),
         url('../fonts/BebasNeue.svg#BebasNeue') format('svg');
          font-weight: normal;
          font-style: normal; 
}
