header {
    .navbar-main {
        margin: 0;
        padding:0px;
        border-bottom:2px solid #696263;
        .navbar {
            margin: 0px;
            border: none;
            .navbar-brand {
                padding:5px 0px 5px 30px;
                margin: 0px;
                height: auto;
            }
        }
    }
}
