$mobile-small: 480px;
$mobile: 640px;
$mobile-max: 767px;
$tablet: 768px;
$tab: 1025px;
$desktop: 1365px;
$xldesktop: 1890px;
$xxldesktop:2540px;
$white: #fff;
$black: #000;
$coral: #f3843d;
$orange: #fe9901;
$orangealty: #ff5a0a;
$dark: #393939;
$grey: #6e6e6e;
$gold: #fead32;
$red: #ee2e24;
$blue:#1b5aa1;
$dark-blue:#1d5190;
$yellow:#f8c824;
$lightBlue : #475057;
$diabledText : #afb3b7;
$borColor : #7e7e7e;
$darkBlack : #000000;
$titleColor : #c59b23;
$btnColor: #be1923;
$whiteColor : #ffffff;
$discriptionText : #919191;
$nav:"Roboto Condensed",
serif;
